<ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userRegisterForm" (ngSubmit)="register()">
    <ion-item>
      <ion-label>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-label>
      <ion-input formControlName="username" id="username" type="text"  class="formControl" placeholder="Correo electronico" required></ion-input>
    
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-label>
      <ion-input formControlName="password" id="password" type="password" class="formControl" placeholder="Contraseña *" required></ion-input>
    
    
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="lock-open-outline"></ion-icon>
      </ion-label>
      <ion-input formControlName="cofirmpassword" id="confirmpassword" type="password" class="formControl" placeholder="Confirmar Contraseña *" required ></ion-input>
    
    </ion-item>
    <ion-button type="Submit" calss="mat-button" expand="block">Registarse</ion-button>

  </form>

</ion-content>
